* {
    font-family:sans-serif
    max-width: 100%;
    background-color: white;
  }
  
header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
  


  
